apiVersion: v1
data:
  registryCaFile: {{ registryCaFile }}
  userName: {{ registryUsername }}
  password: {{ registryPassword_b64 }}
kind: Secret
metadata:
  name: airgap
  namespace: {{ clustername }}
type: Opaque

---
apiVersion: v1
data:
  internal_auth: {{ authdata_b64 }}
kind: Secret
metadata:
  name: authconfig
  namespace: {{ clustername }}
type: Opaque


---
apiVersion: ezkfops.hpe.ezkf-ops.com/v1alpha1
kind: EzkfWorkloadDeploy
metadata:
  name: {{ clustername }}
  namespace: {{ clustername }}
spec:
  deploytarget: pph
  workloadtype: ezua
  clustername: {{ clustername }}
  domainname: {{ clustername }}.{{ domain }}
  isAirgap: false
  deployallinfra: true
  genericaddons:
    machine: true
    ezkube: true
  proxy:
    httpProxy: {{ http_proxy }}
    httpsProxy: {{ https_proxy }}
    noProxy: {{ no_proxy }}
  workloadaddons:
    ua_prep: true
    hpecp_agent: true
    oidc: true
    kyverno: true
    monitoring: true
    keycloak: true
    chartmuseum: true
    ezaf_controller: true
  deployallapps: true # always set to true from UA
  authconfig:
    secret_name: "authconfig"
  airgap:
    secret_name: "airgap"
    registryUrl: {{ registryUrl }}
    registryInsecure: {{ registryInsecure }}
