defaultHostCredentials:
  sshUserName: {{ ansible_user }}
  sshPassword: {{ sshpassword_b64 }}
  sshPort: 22
sudoPrefix: ""
prechecks:
  coordinator:
    controlplane:
      - host: {{ orchestrator }}
  ua:
    controlplane:
      - host: {{ master }}
    worker:
      {% for worker in workers %}
- host: {{ worker }}
      {% endfor %}
